:root {
    --btn-bg: rgb(200, 229, 255);

    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr auto;
    color: #121212;
    background-color: #ebedf5;
    font-family: monospace;
}

/* header {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 4px;
    border: 1px solid gray;


    & > div > button {
        padding: 0;
        border: none;
        height: 100%;
        width: auto;
        aspect-ratio: 1;
        border-right: 1px solid gray;
        padding-right: 6px;
        background: none;
        padding: .4rem .4rem .4rem 0;

        &:last-child {
            border-right: 0px solid gray;
            padding-right: 0px;
        }
    }

    & > div > button > svg {
        stroke: black;
        stroke-width: 6px;
        fill: none;
        width: auto;
        height: 2rem;
        aspect-ratio: 1;
    }

    & > a {
        padding: .3rem .4rem;

        &:hover {
            background-color:rgb(195, 217, 236);
        }

        & > svg {
            fill: black;
            width: auto;
            height: 2rem;
            aspect-ratio: 1;
        }
    }
}

.active > svg {
    stroke: orangered;
} */

#cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    text-align: center;
    display: grid;
    gap: .4rem;
    padding: 1rem 0;
    width: 230px;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px 6px rgba(34, 60, 80, 0.12);
}

.card h2,
.card p {
    margin: 10px 0;
}

.card p {
    color: gray;
}

.image {
    width: 100%;
    aspect-ratio: 1;
    background-image: url('img/tshirt.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.size-table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    & > * {
        text-align: center;
        border-right: 1px solid rgb(197, 198, 212);
        padding: 0 .5rem;

        & > span {
            display: block;
        }

        & > strong {
            display: block;
        }
    }

    & > :last-child {
        border: none;
    }
}

@media (orientation: portrait){
    body {
        padding: .4rem;
    }
    #cluster {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .7rem;
    }

    .card {
        font-size: 0.5rem;
        width: auto;
    }
}