:root {
    --btn-bg: rgb(200, 229, 255);
    --active: orangered;

    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    gap: 2rem;
    grid-template-rows: auto 1fr auto;
    color: #121212;
    background-color: #ebedf5;
    font-family: monospace;
}

header {
    --size: 32px;

    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr auto;

    & > div {

        & > button {
            padding: .5rem;
            border: none;

            & > svg {
                stroke: black;
                stroke-width: 4px;
                fill: transparent;
                width: auto;
                height: var(--size);
                aspect-ratio: 1;
            }
        }
    }

    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;

        & svg {
            width: auto;
            height: 40px;
            aspect-ratio: 1;
        }
    }
}

.btn {
    border-radius: 4px;
    background-color: #e2e2f7;

    &:hover {
        cursor: pointer;
        background-color: #d9d9f3;
    }
}

.active > svg {
    stroke: orangered;
}

#cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    text-align: center;
    display: grid;
    gap: .4rem;
    padding: 1rem 0;
    width: 230px;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px 6px rgba(34, 60, 80, 0.12);
}

.card h2,
.card p {
    margin: 10px 0;
}

.card p {
    color: gray;
}

.image {
    width: 100%;
    aspect-ratio: 1;
    background-image: url('img/tshirt.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.size-table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    & > * {
        text-align: center;
        border-right: 1px solid rgb(197, 198, 212);
        padding: 0 .5rem;

        & > span {
            display: block;
        }

        & > strong {
            display: block;
        }
    }

    & > :last-child {
        border: none;
    }
}

.all-text {
    font: bold 20px sans-serif;
}

@media (orientation: portrait){
    body {
        padding: .4rem;
        gap: 0rem;
    }
    #cluster {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .7rem;
    }

    .card {
        font-size: 0.5rem;
        width: auto;
    }
}