:root {
    box-sizing: border-box;
}

body {
    color: #121212;
    background-color: #ebedf5;
    font-family: monospace;
}

#cluster {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    padding: 10px;
    width: 230px;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px 6px rgba(34, 60, 80, 0.12);
}

.image {
    width: 100%;
    aspect-ratio: 1;
    background-image: url('img/tshirt.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.size-table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    & > * {
        text-align: center;
        border-right: 1px solid rgb(197, 198, 212);
        padding: 0 .5rem;

        & > span {
            display: block;
        }

        & > strong {
            display: block;
        }
    }

    & > :last-child {
        border: none;
    }
}

@media (orientation: portrait){
    #cluster {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

    .card {
        width: auto;
    }
}